:root {
    --primary: #4facfe;
    --secondary: #00f2fe;
    --bg-dark: #0f172a;
    --card-bg: rgba(30, 41, 59, 0.7);
    --text-main: #f8fafc;
    --text-dim: #94a3b8;
    --accent-yellow: #ffcc00; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-dark);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card { 
    background: var(--card-bg);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 40px 40px; /* IP field aane se padding thodi kam ki hai */
    border-radius: 24px;
    width: 100%;
    max-width: 420px;
    text-align: center;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 22px; 
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 15px;
    letter-spacing: 2px;
}

h2 { color: var(--text-main); font-size: 28px; margin-bottom: 10px; }
p { color: var(--text-dim); font-size: 15px; margin-bottom: 35px; }

.input-group input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px; /* Margin 20 se 15 ki taaki space bache */
    background: rgba(15, 23, 42, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: white;
    outline: none;
}
.input-group a{
    color:white;
    text-decoration: underline;
    font-weight: 50;
    font-size: 14px;
    display:block;
    text-align: right;
    margin-top:-10px;
    margin-bottom: 15px;
    margin-left: 5px;

}

.login-btn {
    width: 50%; /* 40% se thoda bada kiya taaki text fit aaye */
    height: 40px;
    background-color: #1f2331;
    color: #ffcc00;
    border: 2px solid #ffcc00;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #ffcc00;
    color: #1f2331; /* Hover par text black ho jayega */
    transform: scale(1.03);
}

/* --- Forgot Password aur Footer ka naya Part --- */

.footer-Links {
    margin-top: 20px; 
    color: white;
}


.footer-Links span {
    font-size: 15px;
}

.footer-Links a {
    color: var(--primary);
    text-decoration: underline;
    font-weight: 700;
    margin-left: 5px;
}


