<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudVitals | Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="login-card">
        <div class="logo">CloudVitals</div>
        <h2>Welcome Back</h2>
        <p>Monitor your servers with one click</p>

        <form id="loginForm">
            <div class="input-group">
            <input type="text" placeholder="Username" required>
            </div>
            <div class="input-group">
                <input type="password" placeholder="Password" required>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
        <br>
        <br>
        <br>
        <div class="footer-Links">
            <span>New here? <a href="#">Create Account</a></span>
        </div>
    </div>
    </div>

</body>
</html>